<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('外售支持信息列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>商品单号：</label>
                            <input type="text" name="goodsCode"/>
                        </li>
                        <li>
                            <label>商品名称：</label>
                            <input type="text" name="goodsName"/>
                        </li>
                        <li>
                            <label>商品别名：</label>
                            <input type="text" name="goodsAlias"/>
                        </li>
<!--                        <li>-->
<!--                            <label>商品库位编码：</label>-->
<!--                            <input type="text" name="storageLocation"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>售卖情况：</label>-->
<!--                            <select name="goodsStatus" th:with="type=${@dict.getType('sales_status')}">-->
<!--                                <option value="">所有</option>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                            </select>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品所属部门ID：</label>-->
<!--                            <input type="text" name="deptId"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品所属区划编码：</label>-->
<!--                            <input type="text" name="zoningCode"/>-->
<!--                        </li>-->
<!--                        <li class="select-time">-->
<!--                            <label>录入时间：</label>-->
<!--                            <input type="text" class="time-input" id="startTime1" placeholder="开始时间" name="params[beginCreateDate]"/>-->
<!--                            <span>-</span>-->
<!--                            <input type="text" class="time-input" id="endTime1" placeholder="结束时间" name="params[endCreateDate]"/>-->
<!--                        </li>-->
                        <li class="select-time">
                            <label>更新时间：</label>
                            <input type="text" class="time-input" id="startTime2" placeholder="开始时间" name="params[beginUpdateDate]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime2" placeholder="结束时间" name="params[endUpdateDate]"/>
                        </li>
<!--                        <li>-->
<!--                            <label>商品初始第一数量：</label>-->
<!--                            <input type="text" name="firstQuantity"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品初始第一单位：</label>-->
<!--                            <input type="text" name="firstMeasurement"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品初始第二数量：</label>-->
<!--                            <input type="text" name="secondQuantity"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品初始第二单位：</label>-->
<!--                            <input type="text" name="secondMeasurement"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>第一单位与第二单位代换公式：</label>-->
<!--                            <input type="text" name="fsSubstitution"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品现第一数量：</label>-->
<!--                            <input type="text" name="firstQuantityNow"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品现第二数量：</label>-->
<!--                            <input type="text" name="secondQuantityNow"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品单价(第一数量)：</label>-->
<!--                            <input type="text" name="pricingFirst"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品单价(第二数量)：</label>-->
<!--                            <input type="text" name="pricingSecond"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品活动捆绑销售商品单号：</label>-->
<!--                            <input type="text" name="bundleSellCode"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品活动捆绑销售商品单价(第一单位)：</label>-->
<!--                            <input type="text" name="bundleSellPricing"/>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>商品目前收益：</label>-->
<!--                            <input type="text" name="profitUptonow"/>-->
<!--                        </li>-->
                        <li class="select-time">
                            <label>质保截至：</label>
                            <input type="text" class="time-input" id="startTime3" placeholder="开始时间" name="params[beginSellByDate]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime3" placeholder="结束时间" name="params[endSellByDate]"/>
                        </li>
<!--                        <li>-->
<!--                            <label>是否冻结：</label>-->
<!--                            <select name="freezeStatus" th:with="type=${@dict.getType('freeze_status')}">-->
<!--                                <option value="">所有</option>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                            </select>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>是否废弃：</label>-->
<!--                            <select name="discardStatus" th:with="type=${@dict.getType('discard_status')}">-->
<!--                                <option value="">所有</option>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                            </select>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>移库状态(1待制单:;2:待审核;3:待维护;4:退回;)：</label>-->
<!--                            <select name="transferStatus" th:with="type=${@dict.getType('transfer_status')}">-->
<!--                                <option value="">所有</option>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                            </select>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>盘点状态(1待制单:;2:待审核;3:待维护;4:退回;)：</label>-->
<!--                            <select name="checkStatus" th:with="type=${@dict.getType('check_status')}">-->
<!--                                <option value="">所有</option>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                            </select>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>拆分状态(1待拆分:;2:暂存;)：</label>-->
<!--                            <select name="splitStatus" th:with="type=${@dict.getType('split_status')}">-->
<!--                                <option value="">所有</option>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                            </select>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>其它处置状态(1:待制单;)：</label>-->
<!--                            <select name="otherStatus" th:with="type=${@dict.getType('other_status')}">-->
<!--                                <option value="">所有</option>-->
<!--                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
<!--                            </select>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <label>物品说明：</label>-->
<!--                            <input type="text" name="goodsComment"/>-->
<!--                        </li>-->
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
<!--            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="management:ledgerGoodsManagement:add">-->
<!--                <i class="fa fa-plus"></i> 添加-->
<!--            </a>-->
<!--            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="management:ledgerGoodsManagement:edit">-->
<!--                <i class="fa fa-edit"></i> 修改-->
<!--            </a>-->
<!--            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="management:ledgerGoodsManagement:remove">-->
<!--                <i class="fa fa-remove"></i> 删除-->
<!--            </a>-->
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="management:ledgerGoodsManagement:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('management:ledgerGoodsManagement:edit')}]];
    var removeFlag = [[${@permission.hasPermi('management:ledgerGoodsManagement:remove')}]];
    var inSalesFlag = [[${@permission.hasPermi('management:ledgerGoodsManagement:inSales')}]];
    var salesStatusDatas = [[${@dict.getType('sales_status')}]];
    var freezeStatusDatas = [[${@dict.getType('freeze_status')}]];
    var discardStatusDatas = [[${@dict.getType('discard_status')}]];
    var transferStatusDatas = [[${@dict.getType('transfer_status')}]];
    var checkStatusDatas = [[${@dict.getType('check_status')}]];
    var splitStatusDatas = [[${@dict.getType('split_status')}]];
    var otherStatusDatas = [[${@dict.getType('other_status')}]];
    var prefix = ctx + "management/ledgerGoodsManagement";

    $(function() {
        var options = {
            url: prefix + "/outSalesList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "商品台账信息",
            columns: [{
                checkbox: true
            },
                {
                    field: 'ledgerId',
                    title: '商品台账ID(主键)',
                    visible: false
                },
                {
                    field: 'goodsName',
                    title: '商品名称'
                },
                {
                    field: 'goodsAlias',
                    title: '商品别名'
                },
                {
                    field: 'goodsCode',
                    title: '商品单号'
                },
                {
                    field: 'storageLocation',
                    title: '商品库位编码',
                    visible: false
                },
                {
                    field: 'deptId',
                    title: '商品所属部门ID',
                    visible: false
                },
                {
                    field: 'zoningCode',
                    title: '商品所属区划编码',
                    visible: false
                },
                {
                    field: 'createDate',
                    title: '商品录入时间',
                    visible: false
                },
                {
                    field: 'updateDate',
                    title: '商品更新时间',
                    visible: false
                },
                {
                    field: 'firstQuantity',
                    title: '商品初始第一数量',
                    visible: false
                },
                {
                    field: 'firstMeasurement',
                    title: '商品初始第一单位',
                    visible: false
                },
                {
                    field: 'firstQuantity',
                    title: '第一数量',
                    formatter: function (value, row, index) {
                        value = value + '' + row.firstMeasurement;
                        return value;
                    },
                    visible: false
                },
                {
                    field: 'secondQuantity',
                    title: '商品初始第二数量',
                    visible: false
                },
                {
                    field: 'secondMeasurement',
                    title: '商品初始第二单位',
                    visible: false
                },
                {
                    field: 'secondQuantity',
                    title: '第二数量',
                    formatter: function (value, row, index) {
                        if (row.secondQuantity == null || row.secondMeasurement == null) {
                            value = '「空」';
                        }else {
                            value = value + '' + row.secondMeasurement;
                        }
                        return value;
                    },
                    visible: false
                },
                {
                    field: 'fsSubstitution',
                    title: '第一单位与第二单位代换',
                    visible: false
                },
                {
                    field: 'firstQuantityNow',
                    title: '商品现第一数量',
                    formatter: function (value, row, index) {
                        value = value + '' + row.firstMeasurement;
                        return value;
                    }
                },
                {
                    field: 'secondQuantityNow',
                    title: '商品现第二数量',
                    formatter: function (value, row, index) {
                        if (row.secondQuantityNow == null || row.secondQuantity == null || row.secondMeasurement == null) {
                            value = '「空」';
                        }else {
                            value = value + '' + row.secondMeasurement;
                        }
                        return value;
                    }
                },
                {
                    field: 'pricingFirst',
                    title: '商品单价(第一数量)',
                    formatter: function (value, row, index) {
                        if (value == null || value == "") {
                            return "「待填写」";
                        }else {
                            value = value + '/' + row.firstMeasurement;
                            return value;
                        }
                    }
                },
                {
                    field: 'pricingSecond',
                    title: '商品单价(第二数量)',
                    formatter: function (value, row, index) {
                        if (value == null || value == "") {
                            return "「待填写」";
                        }else {
                            value = value + '/' + row.firstMeasurement;
                            return value;
                        }
                    },
                    visible: false
                },
                {
                    field: 'bundleSellCode',
                    title: '商品活动捆绑销售商品单号',
                    visible: false
                },
                {
                    field: 'bundleSellPricing',
                    title: '商品活动捆绑销售商品单价(第一单位)',
                    visible: false
                },
                {
                    field: 'profitUptonow',
                    title: '商品目前收益'
                },
                {
                    field: 'sellByDate',
                    title: '商品质保日期截至'
                },
                {
                    field: 'goodsStatus',
                    // title: '商品售卖情况(1:仓库存放;2:货架待售;3:部分售出;4:已售罄;)',
                    title: '商品情况',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(salesStatusDatas, value);
                    }
                },
                {
                    field: 'freezeStatus',
                    title: '冻结情况',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(freezeStatusDatas, value);
                    },
                    visible: false
                },
                {
                    field: 'discardStatus',
                    title: '废弃状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(discardStatusDatas, value);
                    },
                    visible: false
                },
                {
                    field: 'transferStatus',
                    title: '移库状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(transferStatusDatas, value);
                    },
                    visible: false
                },
                {
                    field: 'checkStatus',
                    title: '盘点状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(checkStatusDatas, value);
                    },
                    visible: false
                },
                {
                    field: 'splitStatus',
                    title: '拆分状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(splitStatusDatas, value);
                    },
                    visible: false
                },
                {
                    field: 'otherStatus',
                    title: '其它处置状态',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(otherStatusDatas, value);
                    },
                    visible: false
                },
                {
                    field: 'lockStatus',
                    title: '业务锁定',
                    formatter: function (value, row, index) {
                        if (value == null || value == "") {
                            return "正常";
                        } else {
                            {
                                var details = "";
                                if (value == "1") {
                                    details = "移库";
                                } else if (value == "2") {
                                    details = "盘点";
                                } else if (value == 3) {
                                    details = "拆分";
                                } else if (value == 4) {
                                    details = "其它处置";
                                }
                            }
                            return "<a style='text-decoration:none; color: #333; font-weight: 500; font-size: 12px; bl' data-toggle='tooltip' title='" + details + "'>"+ "已锁定" +"</a>";
                        }
                    },
                    visible: false
                },
                {
                    field: 'goodsComment',
                    title: '物品说明',
                    visible: false
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs ' + inSalesFlag + '" href="javascript:void(0)" onclick="inSales(\'' + row.ledgerId + '\')"><i class="fa fa-plus"></i>內售</a> ');
                        return actions.join('');
                    }
                }],
            /*onLoadSuccess: true,
            onLoadSuccess: function () {
                // 更改行的visiable属性，限制显示
                var rows = $('#bootstrap-table').bootstrapTable('getData');
                for (var i = 0; i < rows.length; i++) {
                    if (rows[i].goodsStatus != 2 && rows[i].goodsStatus != 3) {
                        $('#bootstrap-table').bootstrapTable('hideRow', { index: i });
                    }
                }
            }*/
        };
        $.table.init(options);
    });

    // 业务锁定鼠标悬停事件
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });

    function groundingGoods(ledgerId) {
        $.modal.confirm("是否上架" + "该" + "物品？", function() {
            $.operate.submit(prefix + "/grounding/" + ledgerId);
        });
    }

    // 內售按钮
    function inSales(ledgerId) {
        $.modal.open("內售商品", prefix + "/inSalesButton/" + ledgerId);
    }



</script>
</body>
</html>