<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改售卖明细查询')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-detail-edit" th:object="${salesDetails}">
            <input name="salesId" th:field="*{salesId}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">售卖物品单号：</label>
                <div class="col-sm-8">
                    <input name="goodsCode" th:field="*{goodsCode}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">物品售卖时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="salesDate" th:value="${#dates.format(salesDetails.salesDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">物品售卖类型(1:內售处理;2:外售处理;3:退货处理;4:换货处理;)：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('sales_detail_status')}">
                        <input type="radio" th:id="${'salesStatus_' + dict.dictCode}" name="salesStatus" th:value="${dict.dictValue}" th:field="*{salesStatus}" required>
                        <label th:for="${'salesStatus_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">售卖明细单号：</label>
                <div class="col-sm-8">
                    <input name="salesCode" th:field="*{salesCode}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">物品售卖数量(第一单位)：</label>
                <div class="col-sm-8">
                    <input name="salesQuantity" th:field="*{salesQuantity}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物品更新时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="updateDate" th:value="${#dates.format(salesDetails.updateDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物品退换货理由：</label>
                <div class="col-sm-8">
                    <input name="reasonRandc" th:field="*{reasonRandc}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">购买人标志id：</label>
                <div class="col-sm-8">
                    <input name="purchaserId" th:field="*{purchaserId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退换货损耗(第一单位)：</label>
                <div class="col-sm-8">
                    <input name="lossQuantity" th:field="*{lossQuantity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">上一级售卖明细单号：</label>
                <div class="col-sm-8">
                    <input name="salesCodeUplevel" th:field="*{salesCodeUplevel}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">物品名称：</label>
                <div class="col-sm-8">
                    <input name="goodsName" th:field="*{goodsName}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物品别名：</label>
                <div class="col-sm-8">
                    <input name="goodsAlias" th:field="*{goodsAlias}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">捆绑销售主物品单号：</label>
                <div class="col-sm-8">
                    <input name="salesCodeBundle" th:field="*{salesCodeBundle}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "sales/detail";
        $("#form-detail-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-detail-edit').serialize());
            }
        }

        $("input[name='salesDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='updateDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>