<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
  <th:block th:include="include :: header('审核入库采购主单')" />
  <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <div class="pull-right">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>审 核 </button>
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>

  <form class="form-horizontal m" id="form-purchaseRegistration-edit" th:object="${purchaseRegistrationForm}">
    <input id="purRegId" name="purRegId" th:field="*{purRegId}" type="hidden">
    <div class="row form-group">
      <label class="col-sm-2 control-label">物品采购登记单号：</label>
      <div class="col-sm-4">
          <input id="purRegCode" name="purRegCode" th:value="*{purRegCode}" class="form-control" readonly="readonly">
      </div>
    </div>
<!--    <div class="row form-group">-->
<!--        <label class="col-sm-2 control-label">采购单部门id：</label>-->
<!--        <div class="col-sm-4">-->
<!--            <div id="deptId" name="deptId" th:text="*{deptId}" class="form-control-static div-underline" type="hidden"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row form-group">-->
<!--        <label class="col-sm-2 control-label">采购单所属区划编码：</label>-->
<!--        <div class="col-sm-4">-->
<!--            <div id="zoningCode" name="zoningCode" th:text="*{zoningCode}" class="form-control-static div-underline"></div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row form-group">
        <label class="col-sm-2 control-label">采购单创建时间：</label>
        <div class="col-sm-4">
            <div id="createDate" name="createDate" th:text="${#dates.format(purchaseRegistrationForm.createDate, 'yyyy-MM-dd')}" class="form-control-static div-underline"></div>
        </div>
        <label class="col-sm-2 control-label">采购单更新时间：</label>
        <div class="col-sm-4">
            <div id="updateDate" name="updateDate" th:text="${#dates.format(purchaseRegistrationForm.updateDate, 'yyyy-MM-dd')}" class="form-control-static div-underline"></div>
        </div>
    </div>
      <div class="row form-group">
          <label class="col-sm-2 control-label">移交审核结果：</label>
          <div class="col-sm-4">
              <div id="purRegStatus" name="purRegStatus" th:text="${@dict.getLabel('pur_reg_status', purchaseRegistrationForm.purRegStatus)}" class="form-control-static div-underline"></div>
          </div>
          <label class="col-sm-2 control-label">移交审核日期：</label>
          <div class="col-sm-4">
              <div id="reviewTime" name="reviewTime" th:text="${#dates.format(purchaseRegistrationForm.reviewTime, 'yyyy-MM-dd')}" class="form-control-static div-underline"></div>
          </div>
      </div>
      <div class="row form-group">
          <label class="col-sm-2 control-label">移交审核意见：</label>
          <div class="col-sm-4">
              <div id="reviewComment" name="reviewComment" th:text="*{reviewComment}" class="form-control-static div-underline"></div>
          </div>
      </div>
    <div class="row form-group">
        <label class="col-sm-2 control-label is-required">审核结果：</label>
        <div class="col-sm-4">
            <div class="radio-box">
                <input type="radio" id="status5" name="purRegStatus" value="5" checked>
                <label id="statusLabel5" for="status5">完成入库</label>
            </div>
            <div class="radio-box">
                <input type="radio" id="status3" name="purRegStatus" value="3" >
                <label id="statusLabel3" for="status3">审核退回</label>
            </div>
        </div>
    </div>
    <div class="row form-group">
          <label class="col-sm-2 control-label is-required">审核意见：</label>
          <div class="col-sm-4">
              <textarea id="warehousingReviewComment" name="warehousingReviewComment" th:text="*{warehousingReviewComment}" class="form-control" type="text" required></textarea>
          </div>
    </div>
<!--    <div class="row form-group">-->
<!--        <label class="col-sm-2 control-label">审核日期：</label>-->
<!--        <div class="col-sm-4">-->
<!--            <div class="input-group date">-->
<!--                <div id="reviewTime" name="reviewTime" th:value="${#dates.format(purchaseRegistrationForm.reviewTime, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd"></div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
  </form>
    <!-- 商品条目表单-->
    <h4 class="form-header h4">商品条目明细信息</h4>
    <div class="col-sm-12 select-table table-striped">
        <table id="bootstrap-table"></table>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<script th:inline="javascript">

  var purRegCode = [[${purchaseRegistrationForm.purRegCode}]]
  var prefix = ctx + "procure/purchaseRegistration";
  $("#form-purchaseRegistration-edit").validate({
      onkeyup: false,
      rules:{
          purRegCode:{maxlength:40},
      },
    focusCleanup: true
  });

  function submitHandler() {
      let status = $("input[name='purRegStatus']:checked").val();
      let statusText = $("#statusLabel" + status).text();
      if ($.validate.form()) {
          layer.confirm("是否【"+statusText+"】该登记审核单？", {
              title: '系统提示',
              icon: 3,
              btn: ['确定', '返回'], //可以无限个按钮
              yes: function(index, layero){
                  // 拿到主单数据
                  var data = $('#form-purchaseRegistration-edit').serializeArray();
                  // 拿到表格数据
                  purDataList = $('#bootstrap-table').bootstrapTable('getData');
                  var dataListParam = {
                      name : "dataList",
                      value : JSON.stringify(purDataList)
                  };
                  // 拼接
                  data.push(dataListParam);
                  // console.log(data);
                  $.operate.save(prefix + "/edit/warehousing", data);
              },cancel: function(index, layero){
                  layer.close(index);
              }
          });
      }
  }

  var editFlag = [[${@permission.hasPermi('procure:purchase:edit')}]];
  var removeFlag = [[${@permission.hasPermi('procure:purchase:remove')}]];
  var purStatusDatas = [[${@dict.getType('pur_status')}]];
  var prefix_detail = ctx + "procure/purchase";
  $(function() {
      var options = {
          url: prefix_detail + "/belongList/" + purRegCode,
          createUrl: prefix_detail + "/add",
          updateUrl: prefix_detail + "/edit/{id}",
          removeUrl: prefix_detail + "/remove",
          exportUrl: prefix_detail + "/export",
          modalName: "采购明细登记",
          columns: [{
              checkbox: true
          },
              {
                  field: 'purId',
                  title: '物品采购条目id(主键)',
                  visible: false
              },
              {
                  field: 'purCode',
                  title: '物品采购条目单号',
              },
              {
                  field: 'purRegCode',
                  title: '物品采购登记单号',
                  visible: false
              },
              {
                  field: 'deptId',
                  title: '录入物品部门id',
                  visible: false
              },
              {
                  field: 'zoningCode',
                  title: '录入物品部门所属区划编码',
                  visible: false
              },
              {
                  field: 'goodsName',
                  title: '物品名称'
              },
              {
                  field: 'firstQuantity',
                  title: '物品第一数量',
                  visible: false
              },
              {
                  field: 'firstMeasurement',
                  title: '物品第一计量单位',
                  visible: false
              },
              /*{
                  field: 'firstQuantity',
                  title: '第一数量',
                  formatter: function (value, row, index) {
                      value = value + '' + row.firstMeasurement;
                      return value;
                  },
                  visible: false
              },*/
              {
                  field: 'firstQuantity',
                  title: '入库第一数量',
                  halign: "center",
                  width: 10,
                  widthUnit: "%",
                  formatter: function(value, row, index) {
                      var html = $.common.sprintf("" +
                          "<div class='input-group'>" +
                          "<input width='30%' class='form-control' type='text' placeholder='点击后编辑' title='点击后可进行编辑' autocomplete='off' readonly value='%s' " +
                          " name='firstQuantityText" + index + " ' id='firstQuantityText" + index + "'" +
                          " value=" + value + " data=" + value + " " +
                          " onblur='changeQuantity(" + index + ", " + row.purID + ", " + 11 + ")' " +
                          " onclick='javascript:if(this==document.activeElement){this.readOnly=false;if(this.value==\"\"){this.value=0;}this.select()}' >"+
                          "</div>",value
                      );
                      return html;
                  }
              },
              {
                  field: "firstMeasurement",
                  title: "入库第一单位",
                  halign: "center",
                  width: 10,
                  widthUnit: "%",
                  formatter: function(value, row, index) {
                      var html = $.common.sprintf("" +
                          "<div class='input-group'>" +
                          "<input width='30%' class='form-control' type='text' placeholder='点击后编辑' title='点击后可进行编辑' autocomplete='off' readonly value='%s' " +
                          " name='firstMeasurementText" + index + " ' id='firstMeasurementText" + index + "'" +
                          " value=" + value + " data=" + value + " " +
                          " onblur='changeQuantity(" + index + ", " + row.purID + ", " + 12 + ")' " +
                          " onclick='javascript:if(this==document.activeElement){this.readOnly=false;if(this.value==\"\"){this.value=0;}this.select()}' >"+
                          "</div>",value
                      );
                      return html;
                  }
              },
              {
                  field: 'secondQuantity',
                  title: '物品第二数量',
                  visible: false
              },
              {
                  field: 'secondMeasurement',
                  title: '物品第二计量单位',
                  visible: false
              },
              /*{
                  field: 'secondQuantity',
                  title: '第二数量',
                  formatter: function (value, row, index) {
                      if (row.secondQuantity == null || row.secondMeasurement == null) {
                          value = '「空」';
                      }else {
                          value = value + '' + row.secondMeasurement;
                      }
                      return value;
                  },
                  visible: false
              },*/
              {
                  field: 'secondQuantity',
                  title: '入库第二数量',
                  halign: "center",
                  width: 10,
                  widthUnit: "%",
                  formatter: function(value, row, index) {
                      var html = $.common.sprintf("" +
                          "<div class='input-group'>" +
                          "<input width='30%' class='form-control' type='text' placeholder='点击后编辑' title='点击后可进行编辑' autocomplete='off' readonly value='%s' " +
                          " name='secondQuantityText" + index + " ' id='secondQuantityText" + index + "'" +
                          " value=" + value + " data=" + value + " " +
                          " onblur='changeQuantity(" + index + ", " + row.purID + ", " + 21 +")' " +
                          " onclick='javascript:if(this==document.activeElement){this.readOnly=false;if(this.value==\"\"){this.value=0;}this.select()}' >"+
                          "</div>",value
                      );
                      return html;
                  }
              },
              {
                  field: "secondMeasurement",
                  title: "入库第二单位",
                  halign: "center",
                  width: 10,
                  widthUnit: "%",
                  formatter: function(value, row, index) {
                      var html = $.common.sprintf("" +
                          "<div class='input-group'>" +
                          "<input width='30%' class='form-control' type='text' placeholder='点击后编辑' title='点击后可进行编辑' autocomplete='off' readonly value='%s' " +
                          " name='secondMeasurementText" + index + " ' id='secondMeasurementText" + index + "'" +
                          " value=" + value + " data=" + value + " " +
                          " onblur='changeQuantity(" + index + ", " + row.purID + ", " + 22 + ")' " +
                          " onclick='javascript:if(this==document.activeElement){this.readOnly=false;if(this.value==\"\"){this.value=0;}this.select()}' >"+
                          "</div>",value
                      );
                      return html;
                  }
              },
              {
                  field: 'goodsComment',
                  title: '物品说明',
                  width: 20,
                  widthUnit: "%",
                  formatter: function(value, row, index) {
                      var style = "text-align:center;vertical-align:middle;"
                      var html = $.common.sprintf("" +
                          "<div class='input-group'" + style + ">" +
                          "<input class='form-control' type='text' placeholder='点击后编辑' title='点击后可进行编辑' autocomplete='off' readonly value='%s' " +
                          " name='goodsCommentText" + index + " ' id='goodsCommentText" + index + "'" +
                          " value=" + value + " data=" + value + " " +
                          " onblur='changeQuantity(" + index + ", " + row.purID + ", " + 3 + ")' " +
                          " onclick='javascript:if(this==document.activeElement){this.readOnly=false;if(this.value==\"\"){this.value=0;}this.select()}' >"+
                          "</div>",value
                      );
                      return html;
                  }
              },
              {
                  field: 'purUnitTotalPrice',
                  title: '单位物品采购价',
                  visible: false
              },
              {
                  field: 'purUnit',
                  title: '物品采购单位',
                  visible: false
              },
              {
                  field: "purUnitTotalPrice",
                  title: '采购单价',
                  formatter: function (value, row, index) {
                      if (row.purUnit == null || row.purUnitTotalPrice == null) {
                          value = "「空」"
                      } else {
                          value = value + '/' + row.purUnit;
                      }
                      return value;
                  }
              },
              {
                  field: 'purTotalPrice',
                  title: '物品采购总价',
                  visible: false
              },
              {
                  field: 'createDate',
                  title: '创建时间',
                  visible: false
              },
              {
                  field: 'updateDate',
                  title: '更新时间',
                  visible: false
              },
              {
                  field: 'purStatus',
                  title: '条目状态',
                  formatter: function(value, row, index) {
                      return $.table.selectDictLabel(purStatusDatas, value);
                  },
                  visible: false
              },
              {
                  title: '操作',
                  align: 'center',
                  formatter: function(value, row, index) {
                      var actions = [];
                      // 条目状态(1:待制单;2:待审核;6:已移交;3:退回;4:作废;5:已入库;)
                      if (row.purStatus == 1 || row.purStatus == 3) {
                          actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.purId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                          actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.purId + '\')"><i class="fa fa-remove"></i>删除</a>');
                      }
                      return actions.join('');
                  },
                  visible: false
              }]
      };
      $.table.init(options);
  });

  // 更新bootstrap-table数据
  function changeQuantity(index, purId, type) {
      if (type == 11) {      // 第一数量更新
          var writevalue11 = $('#firstQuantityText' + index).val(); //获取改变后的输入框的值
          $('#bootstrap-table').bootstrapTable('updateRow', {
              index: index,
              row: {firstQuantity: writevalue11}
          });
      } else if (type == 12) {  // 第二单位更新
          var writevalue12 = $('#firstMeasurementText' + index).val(); //获取改变后的输入框的值
          $('#bootstrap-table').bootstrapTable('updateRow', {
              index: index,
              row: {firstMeasurement: writevalue12}
          });
      } else if (type == 21) {    // 第二数量更新
          var writevalue21 = $('#secondQuantityText' + index).val();
          $('#bootstrap-table').bootstrapTable('updateRow', {
              index: index,
              row: {secondQuantity: writevalue21}
          });
      } else if (type == 22) {
          var writevalue22 = $('#secondMeasurementText' + index).val();
          $('#bootstrap-table').bootstrapTable('updateRow', {
              index: index,
              row: {secondMeasurement: writevalue22}
          });
      } else if (type == 3) {
          var writevalue3 = $('#goodsCommentText' + index).val();
          $('#bootstrap-table').bootstrapTable('updateRow', {
              index: index,
              row: {goodsComment: writevalue3}
          });
      }
  }






</script>
</body>
</html>